# ESPHome local/private files
secrets.yaml
.esphome/

# Build artifacts
*.bin
*.elf
*.map
*.factory.bin

# Local editor/OS files
.vscode/
.idea/
Thumbs.db
.DS_Store

# Optional personal logo/splash image.
AirIcons/logo.png
